*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    background: url(../img/images/log-in-bg.jpg);
    background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
    background-position:  center center;
}
.log-in{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo img{
    width: 220px;
    margin: 0px auto 0px;
    display: flex;
    justify-content: center;
    margin: auto;
   
}
.card{
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 #a3a3a3;
    /* background-color: rgba(0, 0, 0, 0.2); */
    width: 350px;
    height: 350px;
    border-radius: 0 ;

}
.log-in-form{
    /* position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%); */
}
.card-body .log-in-name h2{
    margin: 5px auto 20px;
    display: flex;
    justify-content: center;
}
.card-body .form-group{
    border-bottom: 2px solid #e2c743;
}
.card-body input[type="text"],
.card-body input[type="password"]{
    border: none;
    outline: none;
    width: 100%;
    padding: 5px 5px;
    background: none;
    color: #262524;
    font-family: 'Raleway';
}
.card-body input[type="text"]:focus{
    background-color: #f5f5f5;
    text-transform: lowercase;
}
.card-body input[type="password"]:focus{
    background-color:#f5f5f5;
}
.card-body .form-group{
    margin-bottom: 0 !important;
}
.card-body .user-input{
    margin-bottom: 1rem;
}
.card-body .user-input .invailed-msg{
    font-size: 12px;
    color: #cc3f46;
}
.card-body .login-btn{
    border: none;
    outline: none;
    background-color: #e2c743;
    color: white;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 2px 2px;
    cursor: pointer;
    font-family: 'Raleway';
}
.card-body .login-btn:hover{
    background-color: #ceb431;
    transition: 0.4s;
}
.card-body .login-btn1{
    color: white;
    outline: none;
    border: none;
}
.card-body .forgot-pass a p{
    padding: 15px 0px;
    color: grey;
    
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
.card-body .forgot-pass a p:hover{
    color:#1b55f7;
}

.reg-text{
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
.reg-text p{
    color: grey;
}
.reg-text a{
    text-decoration: underline;
}
.reg-text a:hover{
    color:#1b55f7;
}