a:link,
  a:visited{
   text-decoration: none;
  }

  .modal1{
   background-color: rgba(0,0,0, .8);
   width:100%;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 10;
   opacity: 0;
   visibility: hidden;
   transition: all .5s;

  }
.background{
  width: 85%;
   height: 75%
  background-color: white;


   ;
}
  .modal__content{
   width: 80%;
   height: 75%;
   background-color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 40px;
   
   opacity: 0;
   visibility: hidden;
   transition: all .5s;
    overflow: scroll
 
  }

  .modal1:target{
   opacity: 1;
   visibility: visible;
  }

  .modal1:target .modal__content{
   opacity: 1;
   visibility: visible;
  }

  .modal__close{
   color: #363636;
   font-size: 2em;
   position: absolute;
   top: .5em;
   right: 1em;
  }

  .modal__heading{
   color: #262524;
   margin-bottom: 1em;
  }

  .modal__paragraph{
   line-height: 1.5em;
  }

.modal-open{
/* display: inline-block;
 margin: 2em;*/
}
